<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Pedido</title>
</head>
<body>

<h1>Nuevo Pedido</h1>
<form th:action="@{/crear}" method="post">

    <label>Fecha:</label>
    <input type="date" name="fecha" required><br>

    <label>Hora:</label>
    <input type="time" name="hora" required><br><br>

    <!-- CARNES -->
    <h3>Carnes</h3>
    <div th:each="carne : ${carnes}">
        <input type="checkbox" th:name="'seleccion_carne_' + ${carne.id_carne}" />
        <span th:text="${carne.nombre}">Nombre Carne</span>
        Cantidad:
        <input type="number" min="1" th:name="'cantidad_carne_' + ${carne.id_carne}" />
        <br>
    </div>

    <!-- FRUTAS -->
    <h3>Frutas</h3>
    <div th:each="fruta : ${frutas}">
        <input type="checkbox" th:name="'seleccion_fruta_' + ${fruta.id_fruta}" />
        <span th:text="${fruta.nombre}">Nombre Fruta</span>
        Cantidad:
        <input type="number" min="1" th:name="'cantidad_fruta_' + ${fruta.id_fruta}" />
        <br>
    </div>

    <!-- ADICIONALES -->
    <h3>Adicionales</h3>
    <div th:each="adic : ${adicionales}">
        <input type="checkbox" th:name="'seleccion_adicional_' + ${adic.id_adicional}" />
        <span th:text="${adic.nombre}">Nombre Adicional</span>
        Cantidad:
        <input type="number" min="1" th:name="'cantidad_adicional_' + ${adic.id_adicional}" />
        <br>
    </div>

    <br>
    <button type="submit">Guardar Pedido</button>

</form>

</body>
</html>
