<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>interfaz</title>
    <link rel="stylesheet" href="../css/interfaz.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>
<body>

    <header>
        <div class="header">
                <div class="logo">
                    <a href="/vista/interfaz">Macario</a>
                </div>

                <div class="navbar">

                    <ul>
                        <li class="user-menu">
                            <a href="javascript:void(0);" id="userIcon">
                                <i class="fa-solid fa-user icon-user"></i>
                            </a>
                            <div id="logoutMenu" class="logout-menu hidden">
                                <a href="/vista/home">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
    </header>

    <aside>
        2
    </aside>

    <main>
        3
    </main>

    <footer>
        4
    </footer>

    <script src="../scripts/usericon.js"></script>

  </body>
</html>