<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Pedido</title>
</head>
<body>

<h1>Nuevo Pedido</h1>

<form th:action="@{/crear}" method="post">

    <label>Fecha:</label>
    <input type="date" name="fecha" required><br>

    <label>Hora:</label>
    <input type="time" name="hora" required><br><br>

        <h3>Carnes disponibles</h3>
        <div th:each="carne : ${carnes}">
            <label>
                <input type="checkbox" th:name="'seleccion_carne_' + ${carne.id_carne}" />
                <span th:text="${carne.nombre}">Nombre carne</span>
                Cantidad:
                <input type="number" min="1" th:name="'cantidad_carne_' + ${carne.id_carne}" />
            </label>
            <br>
        </div>
    <br>
    <button type="submit">Guardar Pedido</button>

</form>

</body>
</html>
